* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(30, 112, 199);
}

div h1 {
  text-align: center;
  color: #fff;
  text-shadow: 4px 4px 10px rgb(0, 5, 9);
}

div .container {
  padding: 4rem;
}

div img {
  display: flex;
  margin: auto;
  width: 20%;
  outline: double 10px #fff;
  outline-offset: 10px;
  transition: transform 2s;
}

div img:hover {
  transform: rotate(180deg);
}
